
/* Work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;600;700&display=swap');

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0;
}

div{
    display: block;
}
/* Header Styles */
header{
    background: rgba(255, 144, 14, 0.10);
  
   
}
.header-section{
 padding: 50px 240px;
}

.nav-title{
 font-weight: 700;
 font-size: 2.8rem;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    display: flex;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;


}
nav a {
    text-decoration: none;
    color:#424242;
}

/* Banner styles */
.banner-contents{
   max-width: 800px;
    text-align: center;
    margin: 0 auto;
  
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    margin-bottom: 10px;
}
.banner img {
    margin-top: 20px;
    width: 70%;
 padding-left: 240px;
    flex-shrink: 0;
  
}
/* Btn styles */

.btn-primary{
    background-color: #FF900E;
    border: none;
    color: #FFF;
    padding: 20px 25px ;
    font-size: 1.25rem;
    border-radius: 8px;
    cursor: pointer;
}
 /* Responsive media query */
 /* mobile devices */
@media screen and (max-width:576px) {
    .header-section{
        padding:20px;
        
    }
    nav{
        flex-direction: column;
    }
    header{
        width: 100%;
    }
    .banner img{
        width: 70%;
        align-items: center;
        padding-left: 60px;
       
    }
    nav ul{
        margin: 30px 0;
    }
    .nav-title{
        text-align: center;
        margin: 20px 0;
    }
    .banner-description{
        margin: 20px 0;
    }
    
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    .banner img{
        width: 70%;
        align-items: center;
        padding-left: 110px;
       
    }
    .nav-title{
        text-align: center;
        margin: 20px 0;
      
    }
    nav{
        flex-direction: column;
    }
    .banner-description{
        margin: 20px 0;
    }
    nav ul{
        margin: 30px 0;
    }
    
}

/* main styles */
/* team features style */
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-left: 3.125rem;
    margin-top: 6.25rem;
}
.team-content{
    padding-left: 5rem;
    padding-right: 5rem;
    
}
 /* Team content text style */
 .team-title{
    margin-bottom: 2.5rem;
 }
 .text-1st{
    font-weight: 500;
    color: #727272;
    font-size: 2.8rem;
 }
 .mid-text{
    
    font-size: 2.8rem;
    font-weight: bold;
 }
 .last-text{
    font-size: 2.8rem;
    color: #FF900E;
 }
 .team-description{
    margin-bottom: 1.5rem;
    color: #727272;
 }

